.chess-body  {
  font-family: var(--fontfamily); /* A clean sans-serif font */
  justify-content: center;
  margin: var(--margin);
  padding: var(--padding);
  min-height: 100vh;
}

.script-container {
  max-width: 850px;   
  margin-left: auto;
  margin-right: auto;
}

.script-block {
  background-color: #f4f4f4;
  font-size: 0.8rem;
  white-space: pre-wrap;
  word-break: break-word;
  line-height: 1.4;
}

/*************************************************************************/
/*                       Game Summary                                    */
/*************************************************************************/

.game-data-summary {
  display: flex;
  width: 100%;
}

.game-data-summary-item {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100px;
  font-weight: bold;
}

.game-data-summary-label {
  font-size: 1.25rem;
  margin-bottom: 4px;
  text-align: center;
}

.game-data-summary-value {
  font-size: 1.6rem;
  color: var(--buttonbackground);
}

/*************************************************************************/
/*                    Game Archive Main Table                            */
/*************************************************************************/


.game-archive-table-container {
  overflow-x: auto;
  margin: var(--marginV20) 0;
  background-color: var(--colorwhite);
  border-radius: var(--borderradius);
  border: var(--border);
}

.game-archive-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1000px; 
}

.game-archive-table th {
  white-space: normal;       
  word-wrap: break-word;     
  overflow-wrap: break-word; 
  text-align: center;        
  max-width: 150px;
  padding: 8px;              
  font-size: 0.9rem;         
  border: var(--tableborder);
  background-color: var(--tableheaderdarkcolor);
  color: var(--colorwhite);
  font-weight: bold;
}

.game-archive-table th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
  background-color: var(--tableheaderdarkcolor);
  color: var(--colorwhite);
}

.game-archive-table th:first-child::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  width: 2px;
  height: 100%;
  background-color: black;
}

.game-archive-table tr:hover {
  background-color: var(--tablemouseovercolor);
}

.game-archive-table td {
  border: var(--tableborder);
  padding: 8px;
  text-align: left;
  font-size: 0.9rem;
  white-space: nowrap;
}

/* Freeze first data cell */
.game-archive-table td:first-child {
  position: sticky;
  left: 0;
  background-color: var(--colorwhite);
  z-index: 1;
}

.game-archive-table td:first-child::after {
  content: '';
  position: absolute;
  top: 0;
  right: -1px;
  width: 2px;
  height: 100%;
  background-color: black;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--default-spacing);
  gap: 10px;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.chesschart-container {
  width: 500px;
  max-width: 500px;
  height: 350px;
  margin: var(--marginV20) auto;
  padding: var(--padding);
  background-color: var(--colorwhite);
  border-radius: var(--borderradius);
  box-shadow: var(--boxshadow);
}

.chesschart-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: var(--padding);
  margin: var(--margin) auto;
}

.chesschart-box {
  display: flex;
  flex-direction: column;
  gap: var(--gap10); 
}

.chesschart-scroll-x {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.full-width-chart-container {
  width: 2500px;
  height: 600px;
  margin: var(--marginV20) auto;
  padding: var(--padding);
  background-color: var(--colorwhite);
  border-radius: var(--borderradius);
  box-shadow: var(--boxshadow);
}

@media (max-width: 768px) {
  .chesschart-wrap {
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  .chesschart-container {
    width: 100%;
    max-width: 90%;
    height: 300px;
    margin: 0 auto;
  }

  .chesschart-box {
    width: 100%;
    align-items: center;
  }

  select {
    width: 90%;
    max-width: 320px;
    margin: 0 auto;
  }

  .full-width-chart-container {
    min-width: 1800px;
    height: 350px;
  }
}