:root {
  --maxwidth: 1600px;
  --default-spacing: 10px;
  --padding: var(--default-spacing);
  --margin: var(--default-spacing);
  --margin20: 20px;
  --gap10: 10px;
  --gap20: 20px;
  --colortest: pink;
  --defaultColor: #e0e0e0;
  --defaultColor-1: var(--colortest);
  --navcolor: #282c34;
  --lightgrey: #f9f9f9;
  --colorwhite: #ffffff;
  --colorblue: #0078d4;
  --lightgreyblue: #f8f9fa;
  --githubblue: #0366d6;
  --githubdark: #24292f;
  --chatbubbleAI: #e5e5e5;
  --chatbubbleAIFont: var(--fontcolor);
  --chatbubbleUser: #0078d4;
  --tvmazegraycolor: #666; /* Subtle gray for less emphasis */
  --chatbubbleUserFont: var(--colorwhite);
  --textsectioncolor: var(--lightgreyblue);
  --tablemouseovercolor: var(--lightgrey);
  --bordercolor: #ccc;
  --bordercolor-1: var(--colortest);
  --fontcolortest: rgb(242, 128, 147);
  --fontcolor: #333;
  --fontblue: var(--colorblue);
  --buttonbluehover: #005a9e;
  --lightbackgroundcolor: var(--lightgrey);
  --tableTHbackgroundcolor: #e0e0e0;
  --tableheaderdarkcolor: #444444;
  --tableborder: 1px solid #ddd;
  --background-image: linear-gradient(var(--defaultColor), var(--colorwhite)); /* Light gradient for the background */
  --transition-opacity: opacity 0.5s ease-in-out; /* Smooth transition */;
  --transition-background-color: background-color 0.5s ease-in-out;
  --transition-color: color 0.5s;
  --border: 2px solid var(--bordercolor); /* Light gray border */
  --borderradius: 8px;
  --boxshadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Larger shadow for depth */
  --thinshadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*dividerline and chat bubble */
  --textshadow: 5px 5px 7px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  --fontfamily: 'Courier New';
  --fontfamilyH: 'Courier New', monospace;
  --markdownfont: var(--fontfamilyH);
  --fontfamilyNav: 'Roboto', sans-serif;
  /*border: 2px solid #ccc; /* Light gray border */
}

/*
font-family: 'Arial', sans-serif; 
font-family: 'Courier New', monospace; 
font-family: 'Courier New';
font-family: 'Roboto', sans-serif; 
*/

.standard-padding {
  padding: var(--padding);
}

.standard-margin {
  margin: var(--margin);
}

.standard-padding-margin {
  padding: var(--padding);
  margin: var(--margin);
}

.standard-padding-margin-center {
  padding: var(--padding);
  margin: var(--margin) auto;
}

body, #root {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  margin: 0;
  min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
  justify-content: center;
  font-family: var(--fontfamily);
  color: var(--fontcolor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body *::-webkit-scrollbar-thumb {
  background-color: var(--bordercolor);
  border-radius: var(--borderradius);
}

body *::-webkit-scrollbar {
  width: 10px;
}

body *::-webkit-scrollbar-track {
  background-color: var(--backgroundcolor);
 /*background-color: #f5f5f5; */
}

/* firefox support */
* {
  scrollbar-color: var(--bordercolor) #f5f5f5; /* Thumb color & track color */
}

h2 {
  font-family: var(--fontfamilyH);
  font-weight: 600; /* Semi-bold */
  letter-spacing: 0.5px; /* Adjust as needed */
  text-align: center;
}

.default-list  {
  list-style-position: inside;
  text-align: center;
}

.default-list li {
  margin-bottom: 5px; /* Space between list items */
  line-height: 1.5; /* Increase line height for readability */
}

/*used for shadowing text */
.shadow {
  text-shadow: var(--textshadow);
}

.base-max-width {
  max-width: var(--maxwidth);
}

.box-background-standard {
  box-sizing: border-box; /* Include padding and borders in element's total width/height */
  box-shadow: var(--boxshadow);
  background-image: var(--background-image);
  transition: var(--transition-opacity);
  border-radius: var(--borderradius);
  border: var(--border);
}

.box-Nobackground-standard {
  box-sizing: border-box; 
  box-shadow: var(--boxshadow);
  border-radius: var(--borderradius);
  border: var(--border);
}

.box-style-standard {
  box-sizing: border-box;
  border: var(--border);
  border-radius: var(--borderradius);
  box-shadow: var(--boxshadow);
}

.box-style {
  border: var(--border);
  border-radius: var(--borderradius);
  box-shadow: var(--boxshadow);
  padding: var(--padding)
}

.center-div {
  display: flex;
  justify-content: center;
}

.center-margin {
  margin: var(--margin) auto;
}

.flex-column {
  display: flex; /* Optional: if using flex for layout */
  flex-direction: column; /* Stack children vertically */
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  margin: auto;
}

.flex-column-center {
  display: flex; /* Optional: if using flex for layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  padding: var(--padding);
  margin: var(--margin) auto;
}

.button {
  padding: var(--default-spacing) 20px;
  background-color: var(--fontblue);
  color: var(--colorwhite);
  border: none;
  border-radius: var(--borderradius);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: var(--transition-background-color);
  box-shadow: var(--boxshadow);
}

button:hover {
  background-color: var(--buttonbluehover); /* Darker shade on hover */
  transform: scale(1.05); /* Slight scale-up effect on hover */
  box-shadow: var(--boxshadow);
}

.loading-overlay {
  position: fixed; /* Fix to viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Lighter semi-transparent background */
  display: flex; /* Flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 1000; /* Ensure it sits above other content */
}

.loading-overlay p {
  color: white; /* Text color */
  font-size: 1.5em; /* Adjust font size */
}

.no-data-overlay {
  text-align: center;
  color: #ff4d4f; /* Light red or any other subtle color */
  margin-top: 50px;
  font-size: 1.5rem;
}

/***********************************************************************************/
/*                            Nav Bar and Footer                                   */
/***********************************************************************************/

.index-shared {
  color: var(--colorwhite);
  background-color: var(--navcolor);
  font-family: var(--fontfamilyNav); /* A clean, modern font */
}

.navbar {
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fix the navbar to the top */
  padding: 15px 30px; /* Add padding */
  top: 0; /* Stick it to the top */
  left: 0; /* Ensure it spans the full width */
  right: 0; /* Ensure it spans the full width */
  z-index: 1000; /* Ensure the navbar stays above other elements */
  min-height: 100px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none; /* Remove bullet points */
  gap: var(--gap20);
  padding: 2px;
}

.nav-link {
  color: var(--colorwhite); /* Link color */
  text-decoration: none; /* Remove underline */
  transition: var(--transition-color);
}

.nav-link:hover {
  color: var(--defaultColor);
  text-decoration: underline;
}

.footer {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.contact-link {
  color: var(--colorwhite);
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.linkedin-link {
  color: #0077b5;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap10);
}

.linkedin-link:hover {
  text-decoration: underline;
}

.linkedin-icon {
  width: 20px;
  height: 20px;
}

.footer-link {
  color: var(--colorwhite);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap10);
}

.footer-link:hover {
  text-decoration: underline;
  color: var(--defaultColor); /* Matches other hover effects */
}

/***********************************************************************************/
/*                            React Tabs Section                                   */
/***********************************************************************************/


.standard-tabs .tabs-container:focus {
  outline: none;
}

.standard-tabs {
  scroll-margin-top: 100px; /* Adjust to match your navbar or header height */
}

.standard-tabs .react-tabs__tab {
  text-align: center; /* Center-align text */
  padding: 10px 50px; /* Add padding for a larger click area */
  background-image:  var( --background-image);
  margin-bottom: 1px;
  font-family: var(--fontfamilyH);
  font-size: 1.2rem;
  font-weight: bold;
}

.standard-tabs .react-tabs__tab-list {
  display: flex;
  flex-wrap: wrap;               /* Allow tabs to wrap to the next line if there's not enough space */
  gap: var(--gap10);
  margin: 0 auto;
  max-width: 90%; /* Prevents it from stretching full width */
}

.standard-tabs .react-tabs__tab:hover {
  background: var(--defaultColor);
  cursor: pointer;
  text-decoration: underline; /* Optional underline */
}

.standard-tabs .react-tabs__tab--selected {
  font-weight: bold;
  border-bottom: var(--fontblue);
  color: var(--fontblue);
}

.standard-tabs .react-tabs__tab-list {
  margin: 0 auto;
  justify-content: center;
  width: 65%; /* Ensure the TabList doesn't exceed its container */
  display: flex;
  justify-content: space-evenly; /* Evenly space the tabs within the list */
}

@media (max-width: 768px) {
  .standard-tabs .react-tabs__tab {
    flex: 1 0 22%; /* Each tab takes 22% of the row's width, adjusts based on available space */
    text-align: center; /* Center the text inside each tab */
    padding: 2px;
    margin: 2px;
    font-size: 1rem;
  }

  .standard-tabs .react-tabs__tab-list {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow tabs to wrap to the next line */
    justify-content: center; /* Center-align tabs within each row */
    gap: var(--gap10);
    width: 100%;
  }
}

.vertical-tabs {
  padding: 10px;
  /*margin-top: -5px;*/
  display: flex;
  align-items: flex-start;
  gap: 10px; /* Space between tabs and content */
}

.vertical-tabs-layout {
  display: flex;
  align-items: flex-start;
  gap: 11px;
  position: relative; /* Ensure proper stacking */
  z-index: 1;
}

.vertical-tab-content {
  flex-grow: 1;
  padding: 10px; /* Give it breathing room */
  margin-top: -5px; /* Adjust this to align properly */
  background-color: var(--colorwhite); /* Ensure it has a background */
  z-index: 2; /* Make sure it's above the tab */
  position: relative;
}

/* Tab list (left side) */
.vertical-tabs .react-tabs__tab-list {
  display: flex;
  flex-direction: column; /* Stack tabs vertically */
  width: 170px; /* Adjust width */
  margin-top: -5px;
  margin-right: -12px;
  gap: 0px;
  padding: -5px;
}

/* Style for individual tabs */
.vertical-tabs .react-tabs__tab {
  outline: none; /* Removes default focus outline */
  border: var(--border); /* Ensure border applies */
  border-bottom: var(--border);
  width: 150px;
  padding: 50px 15px;
  text-align: left;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  background: none;
  background-color: var(--defaultColor);
  color: var(--fontcolor);
}

/* Highlight selected tab */
.vertical-tabs .react-tabs__tab--selected,
.vertical-tabs .react-tabs__tab:focus,
.vertical-tabs .react-tabs__tab:active,
.vertical-tabs .react-tabs__tab:hover {
  outline: none; /* Keeps focus from affecting layout */
  border: var(--border); /* Make sure all borders apply */
  border-bottom: var(--border); /* Ensure bottom border persists */
  font-weight: bold;
  background-color: var(--colorwhite);
}

/* Make sure the panel has a consistent border */
.vertical-tabs .react-tabs__panel--selected {
  border: var(--border);
}

@media (max-width: 768px) {
  .vertical-tabs {
    margin-top: 0;
  }
  .vertical-tabs-layout {
    margin-top: 10px;
    margin-bottom: 0px;
    flex-direction: column; /* Stack tabs on top of the content */
    align-items: center; /* Center align */
  }

  .vertical-tabs .react-tabs__tab-list {
    flex-direction: row; /* Display tabs horizontally on small screens */
    width: 100%; /* Take up full width */
    justify-content: center; /* Center tabs */
    margin-bottom: var(--margin20);
    margin-top: 10px;
    margin: 10px auto;
    gap: 0px;
    padding: 5px;
  }

  .vertical-tab-content {
    margin: 0 auto; /* Remove the left margin */
    margin-top: -25px;
    width: 95%; /* Ensure full width */
  }
}

/***********************************************************************************/
/*                            Home Page Section                                    */
/***********************************************************************************/

.home-body  {
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 5px;
  justify-content: center;
}

.home-content {
  text-shadow: var(--textshadow);
  margin: 0 auto; /* This will center the element horizontally */
  padding: var(--padding);
}

.home-content h2 {
  display: flex;
  margin-bottom: var(--default-spacing); /* Smaller space below the heading */
  margin: 0 auto;
  line-height: 5; /* Increase line height for readability */
  justify-content: center; /* Centers horizontally */
}

.home-content p {
  margin-bottom: 5px; /* Smaller space below each paragraph */
  line-height: 3; /* Adjust line height for better text flow */
  margin-right: 5px;
  margin-left: 5px;
}

.home-container {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  gap: var(--gap10);
}


.home-image-original {
  float: right;
  width: 100%; /* Ensures the image scales based on its parent container */
  max-width: 700px; /* Maximum width to avoid the image getting too big */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 50px;
  margin-left: 100px;
  margin-bottom: 100px;
}

.home-image {
  flex-shrink: 0; /* Prevent image from shrinking */
  width: 100%; /* Ensures the image scales based on its parent container */
  max-width: 700px; /* Maximum width to avoid the image getting too big */
  height: auto; /* Maintain the aspect ratio */
}

.home-text {
  flex: 1; /* Allow the text to grow and take available space */
}

/* Media query for small screens */
@media (max-width: 1400px) {
  .home-container {
    flex-direction: column; /* Stack items vertically */
  }

  .home-image {
    order: 1; /* Ensure the image appears above the text */
    margin: 0 auto; /* Center the image within the container */
    max-width: 100%;
  }

  .home-text {
    order: 2; /* Ensure the text appears below the image */
  }
}

/***********************************************************************************/
/*                                  AI Showcase                                    */
/***********************************************************************************/


.ai-showcase-container {
  margin-top: 0; /* Center the container on the page */
  /*font-family: 'Arial', sans-serif; /* Clean, readable font */
  font-family: var(--fontfamily);
  padding: 0 15px; /* Adds space on left/right */
  
  justify-content: center;
}

@media (max-width: 768px) {
  .ai-showcase-container {
    padding: 10px 15px; /* Adds space on left/right */
  }
}

/***********************************************************************************/
/*                         Minecraft Projects Section                              */
/***********************************************************************************/

.minecraft-body  {
  font-family: 'Courier New'; /* A clean sans-serif font */
  margin: var(--margin);
  padding: var(--padding);
  min-height: 100vh;
  justify-content: center;
}




 /* Ensure collapsible section titles have space */
.section-title {
  margin-top: 20px;
  margin-bottom: 15px; /* Adds spacing between the sections */
  margin-right: 5px;
  cursor: pointer; /* Makes the mouse cursor act like a button */
  user-select: none; /* Prevents accidental text selection */
  transition: color 0.3s ease-in-out; /* Smooth transition for color change */
}

.section-title-1:hover {
  text-decoration: underline; /* Adds an underline on hover */
  color: var(--buttonbluehover); /* Optional: Change color slightly on hover */
}

/* Increase spacing between collapsible sections */
.collapsible-section {
  margin-top: 25px;
  padding: 15px;
  border-radius: var(--borderradius); /* Keep consistent styling */
}

.placeholder-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; /* Adjust as needed */
  max-width: 1000px;
  border: var(--border);
  border-radius: var(--borderradius);
  background-color: var(--lightgreyblue);
  text-align: center;
  box-shadow: var(--boxshadow);
}

.placeholder-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--fontcolor);
  opacity: 0.8;
}

@media (max-width: 768px) {
  .placeholder-container {
    padding: 5px; /* Adds space on left/right */
    margin: 5px auto;
    width: 90%;
  }
}
/*dashboard hub */



/* css for possible youtube video imbedding on my about page.
.video-container {
  width: 400px; 
  height: 225px; 
  margin: 20px auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; 
text-align: left;
}

.video-container iframe {
  width: 100%; /* Keep within container 
  height: 100%;
  border-radius: 8px; 
}

*/

.testimage {
  display: block;
  padding: 5px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover; 
  border: 2px solid var(--bordercolor); /* Light gray border */
  border-radius: var(--borderradius);
  box-shadow: var(--boxshadow);
}

/*

.react-photo-album img {
  display: block;

  object-fit: cover; 
  }
  */