:root {
  --padding: 10px;
  --padding10: 10px;
  --margin: 10px;
  --margin10: 10px;
  --margin20: 20px;
  --colortest: pink;
  --bordercolortest: pink;
  --color: #e0e0e0;
  --bordercolor: #ccc;
  --fontcolortest: rgb(242, 128, 147);
  --fontcolor: #333;
  --fontblue: #0078d4;
  --lightbackgroundcolor: #f9f9f9;
  --tableTHbackgroundcolor: #e0e0e0;
  --background-image: linear-gradient(var(--color), #ffffff); /* Light gradient for the background */
  --border: 2px solid var(--bordercolor); /* Light gray border */
  --borderradius: 8px;
  --gap10: 10px;
  --gap20: 20px;
  --boxshadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Larger shadow for depth */
  --textshadow: 5px 5px 7px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
  /*border: 2px solid #ccc; /* Light gray border */
}

body, #root {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  margin: auto;
  min-height: 100vh; /* Ensures the body takes up at least the full viewport height */
  margin: 0; /* Resets default body margin */
  color: var(--fontcolor);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  justify-content: center;
}

 h2 {
  font-weight: 600; /* Semi-bold */
  letter-spacing: 0.5px; /* Adjust as needed */
  text-align: center;
}

/*used for shadowing text */
.shadow {
  text-shadow: var(--textshadow);
}

.base-max-width {
  max-width: 1600px;
}

.box-background {
  box-shadow: var(--boxshadow);
  background-image: var(--background-image);
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
  border-radius: var(--borderradius);
  padding: 10px;
}

.box-background-standard {
  box-shadow: var(--boxshadow);
  background-image: var(--background-image);
  transition: opacity 0.5s ease-in-out; /* Smooth transition */
  border-radius: var(--borderradius);
}
.box-Nobackground-standard {
  box-shadow: var(--boxshadow);
  border-radius: var(--borderradius);
}

.box-style-standard {
  border: var(--border);
  border-radius: var(--borderradius);
  box-shadow: var(--boxshadow);
}

.box-style {
  border: var(--border);
  border-radius: var(--borderradius);
  box-shadow: var(--boxshadow);
  padding: 10px;
}

.flex-column {
  display: flex; /* Optional: if using flex for layout */
  flex-direction: column; /* Stack children vertically */
}

.border {
  box-sizing: border-box; /* Include padding and borders in element's total width/height */
  border: var(--border);
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}


/********** NEW POSSIBLE DEFAULT **********/
.flex-wrap-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
  margin: auto;
}

.flex-column-center {
  display: flex; /* Optional: if using flex for layout */
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  padding: var(--padding10);
  margin: var(--margin10) auto;
}

.standard-padding {
  padding: var(--padding);
}

.standard-margin {
  margin: var(--margin);
}

.standard-padding-margin {
  padding: var(--padding);
  margin: var(--margin);
}

.standard-padding-margin-center {
  padding: var(--padding);
  margin: var(--margin) auto;
}

.center-div {
  display: flex;
  justify-content: center;
}

.center-margin {
  margin: var(--margin) auto;
}
/********** NEW POSSIBLE DEFAULT **********/

.index-shared {
  color: white;
  background-color: #282c34;
  font-family: 'Roboto', sans-serif; /* A clean, modern font */
}

.button {
  padding: 10px 20px;
  background-color: var(--fontblue);
  color: white;
  border: none;
  border-radius: var(--borderradius);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Larger shadow for depth */
}

button:hover {
  background-color: #005a9e; /* Darker shade on hover */
  transform: scale(1.05); /* Slight scale-up effect on hover */
  box-shadow: var(--boxshadow);
}

.loading-overlay {
  position: fixed; /* Fix to viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); /* Lighter semi-transparent background */
  display: flex; /* Flexbox for centering */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 1000; /* Ensure it sits above other content */
}

.loading-overlay p {
  color: white; /* Text color */
  font-size: 1.5em; /* Adjust font size */
}

.no-data-overlay {
  text-align: center;
  color: #ff4d4f; /* Light red or any other subtle color */
  margin-top: 50px;
  font-size: 1.2rem;
}

/***********************************************************************************/
/*                            Nav Bar and Footer                                   */
/***********************************************************************************/

.navbar {
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fix the navbar to the top */
  padding: 15px 30px; /* Add padding */
  top: 0; /* Stick it to the top */
  left: 0; /* Ensure it spans the full width */
  right: 0; /* Ensure it spans the full width */
  z-index: 1000; /* Ensure the navbar stays above other elements */
  min-height: 100px;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  list-style: none; /* Remove bullet points */
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next row */
  gap: var(--gap20);
  padding: 2px;
}

.nav-link {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s; /* Transition effect */
}

.nav-link:hover {
  color: #e0e0e0; /* Change color on hover */
}

.footer {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.contact-link {
  color: #fff;
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: underline;
}

.linkedin-link {
  color: #0077b5;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap10);
}

.linkedin-link:hover {
  text-decoration: underline;
}

.linkedin-icon {
  width: 20px;
  height: 20px;
}

/***********************************************************************************/
/*                            React Tabs Section                                   */
/***********************************************************************************/


.standard-tabs .tabs-container:focus {
  outline: none;
}

.standard-tabs {
  scroll-margin-top: 100px; /* Adjust to match your navbar or header height */
}

.standard-tabs .react-tabs__tab {
  text-align: center; /* Center-align text */
  padding: 10px 70px; /* Add padding for a larger click area */
  background-image: linear-gradient(#e0e0e0, #ffffff); /* Light gradient for background */
  margin-bottom: 1px;
  font-size: 1.2rem;
  font-weight: bold;
}

.standard-tabs .react-tabs__tab-list {
  display: flex;
  flex-wrap: wrap;               /* Allow tabs to wrap to the next line if there's not enough space */
  gap: var(--gap10);
  margin: 0 auto;
  width: 100%;                   /* Ensure full width usage */
}

.standard-tabs .react-tabs__tab:hover {
  background: #e0e0e0; /* Darker shade on hover */
  cursor: pointer;
  text-decoration: underline; /* Optional underline */
}

.standard-tabs .react-tabs__tab--selected {
  font-weight: bold;
  border-bottom: var(--fontblue);

  color: var(--fontblue);
}

.standard-tabs .react-tabs__tab-list {
  margin: 0 auto;
  justify-content: center;
  width: 80%; /* Ensure the TabList doesn't exceed its container */
  display: flex;
  justify-content: space-evenly; /* Evenly space the tabs within the list */
}

@media (max-width: 768px) {
  .standard-tabs .react-tabs__tab {
      flex: 1 0 22%; /* Each tab takes 22% of the row's width, adjusts based on available space */
      text-align: center; /* Center the text inside each tab */
      padding: 2px;
      margin: 2px;
      font-size: 1rem;
  }

  .standard-tabs .react-tabs__tab-list {
      display: flex; /* Use flexbox for layout */
      flex-wrap: wrap; /* Allow tabs to wrap to the next line */
      justify-content: center; /* Center-align tabs within each row */
      /*gap: 10px; /* Add spacing between rows and tabs */
      gap: var(--gap10);
      width: 100%;
  }
}


/***********************************************************************************/
/*                            Home Page Section                                    */
/***********************************************************************************/

.home-body  {
  flex-grow: 1;
  font-family: 'Courier New'; /* A clean sans-serif font */
  margin-bottom: 50px;
  padding: 10px;
  justify-content: center;
}

.home-content {
  text-shadow: var(--textshadow);
  margin: 0 auto; /* This will center the element horizontally */
  padding: var(--padding);
}

.home-content h2 {
  display: flex;
  margin-bottom: 10px; /* Smaller space below the heading */
  margin: 0 auto;
  line-height: 5; /* Increase line height for readability */
  justify-content: center; /* Centers horizontally */
}

.home-content p {
  margin-bottom: 5px; /* Smaller space below each paragraph */
  line-height: 3; /* Adjust line height for better text flow */
  margin-right: 10px;
  margin-left: 10px;
}

.home-container {
  display: flex;
  align-items: flex-start; /* Align items at the top */
  gap: var(--gap10);
}

.home-image-original {
  float: right;
  width: 100%; /* Ensures the image scales based on its parent container */
  max-width: 700px; /* Maximum width to avoid the image getting too big */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 50px;
  margin-left: 100px;
  margin-bottom: 100px;
}

.home-image {
  flex-shrink: 0; /* Prevent image from shrinking */
  width: 100%; /* Ensures the image scales based on its parent container */
  max-width: 700px; /* Maximum width to avoid the image getting too big */
  height: auto; /* Maintain the aspect ratio */
}

.home-text {
  flex: 1; /* Allow the text to grow and take available space */
}

/* Media query for small screens */
@media (max-width: 1400px) {
  .home-container {
    flex-direction: column; /* Stack items vertically */
  }

  .home-image {
    order: 1; /* Ensure the image appears above the text */
    margin: 0 auto; /* Center the image within the container */
  }

  .home-text {
    order: 2; /* Ensure the text appears below the image */
  }
}

/***********************************************************************************/
/*                                  AI Showcase                                    */
/***********************************************************************************/

.ai-showcase-container {
  margin: 0 auto; /* Center the container on the page */
  font-family: 'Arial', sans-serif; /* Clean, readable font */
}

.ai-showcase-container h1 {
  font-size: 32px; /* Large, prominent title */
  font-weight: bold; /* Make the title stand out */
  margin-bottom: 20px; /* Space below the title */
  color: #24292f; /* Neutral dark text color */
  text-align: center; /* Center the title */
}

@media (max-width: 768px) {
  .ai-showcase-container {
      padding: 10px; /* Reduce padding for smaller screens */
  }

  .ai-showcase-container h1 {
      font-size: 24px; /* Adjust title size for smaller screens */
  }
}

/* css for possible youtube video imbedding on my about page.
.video-container {
  width: 400px; 
  height: 225px; 
  margin: 20px auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0; 
text-align: left;
}

.video-container iframe {
  width: 100%; /* Keep within container 
  height: 100%;
  border-radius: 8px; 
}

*/