.divider-line {
    margin: var(--margin20) auto;
    border: 1px solid var(--bordercolor);
    box-shadow: var(--thinshadow);
}

.Intro {
    justify-content: center;
    text-align: center;
    width: 90%;
}
  
.Intro p {
    margin: 5px 0; /* Reduce vertical spacing between paragraphs */
    line-height: 1.5; /* Adjust line spacing for readability */
}

.windowMeasurement { 
    max-width: 90%;
    min-width: 300px;
    margin: auto;
    border: 2px solid black; /* Adds a black border with a thickness of 2px */
    text-align: center; /* Center-align the text inside the div */
    padding: var(--padding); 
    margin-top: var(--default-spacing);
    margin-bottom: var(--default-spacing);
}


.youtube-embed-wrapper {
  width: 100%;
  max-width: 900px; /* Or whatever upper limit you want */
  aspect-ratio: 16 / 9;
  position: relative;
}

.youtube-embed {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}




